/*
 * === Header style ===
 */

/* Header style */
header {
  color: white;
  height: 70px;
  width: 100%;
  background: #fff url('../268/logo.png') 20px space at the left;
  border-bottom: 1px #CCCCCC;
  display: flex;
  align-items: center;
}
